body
{
    background-image: url(./back.jpg);
}
.header
{
    font-size: 45px;
    font-weight: bolder;
    font-family: cursive;
    background-color: brown;
    color: white;

    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;

}

.box
{
    border: solid 0px;
    height: 250px;
    width: 350px;
    /* box-shadow: 10px 10px 5px gray; */
    border-radius: 10px;

   

}
.container
{
    display: flex;
    justify-content: space-evenly;
}

.main-container
{
    margin-top: 100px;
}

img
{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    transition: all 2s;
}

img:hover
{
    transform: scale(1.2);
}

